python-binance==1.0.32
websocket-client==1.8.0
numpy==1.24.4
pandas==2.0.3
joblib==1.4.2
ta==0.11.0
requests==2.32.4
pytz==2025.2
python-dateutil==2.9.0.post0
dateparser==1.2.2
tzlocal==5.2
urllib3==2.2.3
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
regex==2024.11.6
